* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 860px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(61, 57, 57);
  box-shadow: inset 0px 0px 82px 9px  rgba(122, 106, 81, 0.59);
}
textarea {
  display: block;
  width: 900px;
  height: 150px;
  padding: 20px;
  overflow-y: auto;
  margin: 50px auto;
  resize: none;
  font-size: 24px;
  letter-spacing: 0.05em;
}
textarea:focus {
  box-shadow: 0 0 15px 2px  rgb(197, 189, 178);
  outline:1px solid rgb(197, 189, 178);
}
.key {
  min-width: 45px;
  height: 40px;
  padding: 5px 10px;
  margin: 5px;
  background-color: rgb(197, 189, 178);
  box-shadow: 0 0 4px 2px  rgb(165, 141, 141);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  /* display: inline-block; */
}
.key:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.key.active {
  transform: scale(0.95);
  box-shadow: 0 0 4px 0px  rgb(165, 141, 141);
  background-color: rgb(238, 238, 238);
}

.key[data-code="Backspace"] {
  width: 90px;
}
.key[data-code="Space"] {
  width: 370px;
}
.key[data-code="ShiftRight"], 
.key[data-code="ShiftLeft"] {
  width: 75px;
}